<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %} aktive Projekte {% endblock title %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Arbeitsstundenausschreibung</h3>
    <div class="card-columns">
    {% for Projekt in projekte %}
        {% include "arbeitsstunden/templates/ausschreibung_card.html" %}
    {% endfor %}
    </div>

{% endblock contend %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
{% block aside %}
   Hallo hier ist der Seitenbereich
{% endblock aside %}



<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
