<div class="card m-3">
    <div class="card-header">
        {{ ausschreibung.Projekt.Name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ausschreibung.Titel }}</h5>
        <p class="card-text">{{ ausschreibung.Beschreibung }}</p>
        <p class="card-text">
            {% for tag in ausschreibung.Tags.all %}
                <span class="badge badge-info">{{ tag.Name }}</span>
            {% endfor %}
        </p>
        {% for profil in ausschreibung.Projekt.Verantwortlich.all %}
            <p><a href="#" class="card-link">@{{ profil.user.first_name }} {{ profil.user.last_name }}</a></p>
        {% endfor %}
        <!--<a href="#" class="card-link">Details ansehen</a>//-->
        <a href="{% url 'ausschreibung_edit' pk=ausschreibung.pk %}" class="card-link">Bearbeiten</a>
    </div>
</div>