{% extends "base.html" %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Arbeitsprojekte</h3>
    <a href="{% url 'projekt_new' %}" class="btn btn-primary">Projekt erstellen</a>
    {% for saison_projekte in projekte %}
        <h4>Saison {{saison_projekte.saison.Jahr}}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Arbeitszeit (in h)</th>
                    <th>Verantwortlich</th>
                </tr>
            </thead>
            <tbody>
                {% for projekt in saison_projekte.projekte %}
                    <tr>
                        <td><a href="{% url 'projekte_detail' pk=projekt.id %}"><i class="bi bi-arrow-right-circle-fill"></i></a></td>
                        <td>{{projekt.Name}}</td>
                        <td>{{projekt.Beschreibung|truncatechars:50}}</td>
                        <td>{{projekt.Arbeitszeit}}</td>
                        <td>
                            {% for verantwortlicher in projekt.Verantwortlich.all %}
                                {{verantwortlicher.Anzeigename}}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock content %}
