<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %} ASV-Aachen - Leere Seite {% endblock title %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
  <h1>Saison Übersicht</h1>
  <table id="Table" class="table table-striped table-bordered">
        <thead>
            <tr>
              <th>id</th>
              <th>year</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
              <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.year }}</td>
                <td> <a type="button" class="btn" href="{% url 'singleSeasonOverview' season.id %}">mehr</a> </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock content %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
{% block aside %}
   Hallo hier ist der Seitenbereich
{% endblock aside %}



<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
