# Empty CSS file for your own CSS

#standart {
 width: 70%;
}
#standart {
 width: 70%;
}


#Header {
  background-color: #12345;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 3px;

}

#AGIV {
  width: 100%;
  opacity: 60%;
}

.nav-item {
  margin-right: 2%
}

.col-md-4 {
 border-left-width: 3px;
 border-left-style: solid;
}

.col-md-8 {
 width: 60%;
}
