<!--/templates/base.html-->
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} ASV-Aachen - Home {% endblock title %}</title>
             <!-- Bootstrap core CSS -->
            <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
            <!-- Custom styles for this template -->
            <!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">-->
            <link href="{% static 'css/bulley/main.css' %}" rel="stylesheet">
            <link href="{% static 'css/bulley/blog.css' %}" rel="stylesheet">
            <link rel=" shortcut icon" type="ico" href="{% static 'img/favicon.ico' %}">

            <!--<link href="{% static 'css/blog.css' %}" rel="stylesheet">-->


  <!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}

</head>

<body class="container-fluid px-0 flex-nowrap">
    <header id="header"class="container-fluid no-gutters px-0">

        {% include "bulley/includes/header.html" %}

        <div id="header-image" class="container-fluid px-0 position-ralative">
        {% block headerimage%}
          <img src="/static/img/AGIV.jpg" alt="">
        {% endblock headerimage%}
        </div>
    </header>

    <main  role="main" class="container-fluid p-0 p-md-3">
     {% block frontpage %} {% endblock frontpage %}

       <div id="main-wrapper" class="container-fluid m-0 p-3">
           <div id="content-wrapper" class="row">
                <div id="content" class="col-md-8 px-3">
                {% block content %}
                {% endblock content %}
                </div>

                <aside class="col-md-4 px-3">
                {% block aside %}
                {% endblock aside %}
                </aside>
            </div>
      </div>
      <!-- /.row -->
    </main>
    <!-- /.container -->

  <footer class="container-fluid pt-1 pb-3">
      <ul id="footer-menue" class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#datasecurity">Datenschutz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#impressum">Impressum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Kontakt</a>
          </li>
      </ul>
     <div class="d-flex justify-content-center">
         <span class="small">© 2021 ASV-Aachen e.V. by Dockersoft</span>
     </div>
  </footer>

  <!-- Bootstrap core JavaScript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'JS/bulley/custom.js' %}"></script>

    <!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}

</body>

</html>
