<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} ASV i. A. - Seeschiff {% endblock title%}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
<link href="{% static 'member/css/Mitgliederverzeichnis.css' %}" rel="stylesheet">
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
<h2>Seereisenplan</h2>
  
<!-- <h3 class="pb-3 mb-4 font-italic border-bottom">Seereisenplan</h3> -->
  
  <table id="Table" class="table table-striped table-bordered">
        <thead>
            <tr>
              <th>Name</th>
              <th>Von</th>
              <th>Nach</th>
              <th>Crewstärke</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cruise in cruises %}
              <tr>
                <td>{{ cruise.name }}</td>
                <td>{{ cruise.startPort }} <br/> {{ cruise.startDate }}</td>
                <td>{{ cruise.endPort }} <br/> {{ cruise.endDate }}</td>
                <td>{{ cruise.maxBerths }}</td>
                <td> <a type="button" class="btn btn-success" href="{% url 'newCruise' %}?id={{ cruise.id }}">Bearbeiten</a> </td>
                <td> <a type="button" class="btn btn-danger" href="{% url 'deleteCruise' %}?id={{ cruise.id }}">Löschen</a> </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock content %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
{% block aside %}
  <h3 class="pb-3 mb-4 font-italic border-bottom">Admin-Tools</h3>
  <a type="button" class="btn btn-info" href="{% url 'newCruise' %}">+ Reise</a>
{% endblock aside %}

<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}