{% extends "base.html" %}

<title>{% block title %} ..ASV i. A. - Seeschiff {% endblock %}</title>

{% load crispy_forms_tags %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Seereisen anlegen / bearbeiten</h3>
    
    {% if cruise %}
    <div class="container">
      <div class="row">
        <div class="form-row">
            <div class="col-lg-4">
                Name: {{ cruise.CruiseName }}
            </div>
            <div class="col-lg-4">
                Ausgangshafen: {{ cruise.StartPort }}
            </div>
            <div class="col-lg-4">
                Zielhafen: {{ cruise.EndPort }}
            </div> 
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ cruise.MaxBerths }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ cruise.StartDate }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ cruise.EndDate }}
            </div> 
        </div>
        <div>
        {{ cruise.CruiseDescription }}
        </div>
        <div>
        {{ cruise.Sailors }}
        </div>
      </div>
    </div>
    {% endif %}

    {{ form.media }}

    <form method="POST" class="post-form" action='{{ action_url }}?id={{cruise.id}}' enctype='multipart/form-data'>
       
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="save btn btn-primary">Reise speichern</button>
    </form>
{% endblock content %}