<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% load crispy_forms_tags %}


{% block title %} ASV i. A. - Seeschiff {% endblock title%}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
<link href="{% static 'member/css/Mitgliederverzeichnis.css' %}" rel="stylesheet">
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
<h2>Seereisenplan</h2>
  
<!-- <h3 class="pb-3 mb-4 font-italic border-bottom">Seereisenplan</h3> -->
  
  <table id="Table" class="table table-striped table-bordered">
        <col style="width:40%">
        <col style="width:20%">
        <col style="width:20%">
        {% if request.user|has_group:"Seereisenkoordinator" %}
        <col style="width:8%">
        <col style="width:4%">
        <col style="width:4%">
        <col style="width:4%">
        {% else %}
        <col style="width:14%">
        <col style="width:14%">
        {% endif %}
        <thead>
            <tr>
              <th>Name</th>
              <th>Von</th>
              <th>Nach</th>
              <th>Crewstärke</th>
              <th></th>
              {% if request.user|has_group:"Seereisenkoordinator" %}
              <th></th>
              <th></th>
              {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for cruise in cruises %}
              <tr>
                <td>{{ cruise.name }}</td>
                <td>{{ cruise.startPort }} <br/> {{ cruise.startDate }}</td>
                <td>{{ cruise.endPort }} <br/> {{ cruise.endDate }}</td>
                <td>{{ cruise.maxBerths }}</td>
                <td> <a type="button" class="btn btn-info btn-sm" href="{% url 'cruisesOverview' %}?id={{ cruise.id }}">I</a> </td>
                {% if request.user|has_group:"Seereisenkoordinator" %}
                  <td> <a type="button" class="btn btn-success btn-sm" href="{% url 'editCruise' %}?id={{ cruise.id }}">B</a> </td>
                  <td> <a type="button" class="btn btn-danger btn-sm" href="{% url 'deleteCruise' %}?id={{ cruise.id }}">X</a> </td>
                {% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock content %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
{% block aside %}
  <h2 class="pb-2 mb-2 border-bottom">{{ reise.name }}</h2>
  Die Reise startet in {{ reise.startPort }} ({{ reise.startDate }}) und endet in {{ reise.endPort }} ({{ reise.endDate }}).<br>
  <br>
  {{reise.description}}
  <br>

  <table id="Table" class="table table-striped table-bordered">
    {% if request.user|has_group:"Seereisenkoordinator" %}
    <col style="width:60%">
    <col style="width:30%">
    <col style="width:10%">
    {% else %}
    <col style="width:85%">
    <col style="width:15%">
    {% endif %}

    <tbody>
        {% for share in cruiseShares %}
          <tr>
            <td>{{ share.cosailor }}</td>
            <td>{{ share.SailAs }}
              {% if request.user|has_group:"Seereisenkoordinator" %}
              <a type="button" class="btn btn-info btn-sm" href="{% url 'makeCrew' %}?id={{ share.id }}&?cid={{ reise.id }}">C</a>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'makeWatch' %}?id={{ share.id }}&?cid={{ reise.id }}">W</a>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'makeSkipper' %}?id={{ share.id }}&?cid={{ reise.id }}">S</a>
            {% endif %}
          </td>
            {% if request.user|has_group:"Seereisenkoordinator" %}
              <td> <a type="button" class="btn btn-danger btn-sm" href="{% url 'deleteCruiseShare' %}?id={{ share.id }}&?cid={{ reise.id }}">X</a> </td>
            {% endif %}
          </tr>
        {% endfor %}
    </tbody>
  </table>

  </br>
  
  {% if request.user|has_group:"Seereisenkoordinator" %}
    <a type="button" class="btn btn-info" href="{% url 'newCruise' %}">+ Reise</a>
  {% endif %}
{% endblock aside %}

<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}