<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} ASViA - Seeschiff {% endblock title%}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}

{% endblock styles %}

{% block content %}
    <p>Möchten Sie die Seereise "{{cruise.name}}" wirklich löschen? Diese Aktion kann nicht rückgängig gemacht werden!!!</p>

    <a id = "bestätigungsButton" class="btn btn-info" href="?id={{cruise.id}}&key={{hash}}">Ja</a>
    <a id = "zurückButton" class="btn btn-info" onclick="history.back()">NEIN</a>
{% endblock %}


