{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">
        width='100%';		// the width of the embedded map in pixels or percentage
        height='450';		// the height of the embedded map in pixels or percentage
        border='0';		// the width of the border around the map (zero means no border)
        shownames='false';	// to display ship names on the map (true or false)
        zoom='9';		// the zoom level of the map (values between 2 and 17)
        maptype='0';		// use 0 for Normal Map, 1 for Satellite
        trackvessel='211773000';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
        fleet='';		// the registered email address of a user-defined fleet (user's default fleet is used)
    </script>
    <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>

{% endblock content %}
