<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} Mein ASV - AutorenPage {% endblock %}
<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
    
{% endblock styles %}

{% block content %}
    <h2>AutoPopulate</h2>

    <form method="POST" class="post-form" action='{{ action_url }}' enctype='multipart/form-data'>
        {% csrf_token %}

        <label for="MemberRange" class="form-label">Erstelle neue News</label>
        <type type="weight" class="form-range" min="1" max="300" id="news"> </type>

        <hr>
        <label for="UserRange" class="form-label">Erstelle neue Nutzer</label>
        <type type="weight" class="form-range" min="1" max="300" id="user"> </type>
         <button type="submit" class="save btn btn-primary">Populate</button>
    </form>
    
 {% endblock %}
