{% extends "base.html" %}
        {% block headerimage%}
          <img src="/static/img/header/cat_s0.jpg" alt="">
        {% endblock headerimage%}

    {% block frontpage %}
        <div id="frontpage" class="container-fluid m-0 px-3 pt-3">

        {% load getRightFront %}
        {% load getLeftFront %}

        {% getLeftFront as left %}
        {% getRightFront as right %}

        {% if left %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        {% load static %}
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0"> <a class="text-dark" href="#">{{ left.titel }}</a> </h3>
                            <p class="card-text mb-auto pt-2">{{ left.description }}</p>
                            <a href="{% url 'InfoPage_Header' left.name %}" class="card-link">mehr</a>
                        </div>
                        {% if left.image %}
                            <img class="card-img-right flex-auto d-none d-md-block" src="{{ left.image.url }}" alt="Card image cap">
                        {% else %}
                            <img style="width: 155px;height: 233px;min-width: 166px;min-height: 233px;border-radius: 10px;margin: 5px;" src="{% static 'img/ag4.jpg' %}" />
                        {% endif %}
                    </div>
                </div>
        {% endif %}
        {% if right %}
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0"> <a class="text-dark" href="#">{{ right.titel }}</a> </h3>
                            <p class="card-text mb-auto pt-2">{{ right.description }}</p>
                            <a href="{% url 'InfoPage_Header' right.name %}" class="card-link">mehr</a>
                        </div>
                        {% if right.image %}
                            <img class="card-img-right flex-auto d-none d-md-block" src="{{ right.image.url }}" alt="Card image cap">
                        {% else %}
                            <img style="width: 155px;height: 233px;min-width: 166px;min-height: 233px;border-radius: 10px;margin: 5px;" src="{% static 'img/ag4.jpg' %}" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    {% endblock frontpage %}
 
    {% block content %}

    <div id="NewsList" class="container no-gutters bg-asv-lightgrey">
        <h1 class="py-3 border-bottom">Neues aus dem Verein</h1>
        {% for New in News %}
            <div class="blog-post my-3 bg-asv-article">
                <article>
                    <h3 class="blog-post-title">{{ New.titel }}</h3>
                    <div class="blog-post-meta small">{{ New.date_Created | date:"F d, Y"}}  {% if user.is_authenticated %} by {{ New.author.first_name }} {% endif %}</div>
                    <div class="article-content">{{ New.text | safe }}</div>
                </article>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if News.has_previous %}
                <a type="button" class="btn btn-secondary btn-sm" href="?page=1">&laquo; first</a>
                <a type="button" class="btn btn-secondary btn-sm" href="?page={{ News.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Seite {{ News.number }} von {{ News.paginator.num_pages }}.
                </span>

                {% if News.has_next %}
                <a type="button" class="btn btn-secondary btn-sm" href="?page={{ News.next_page_number }}">next</a>
                <a type="button" class="btn btn-secondary btn-sm" href="?page={{ News.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endblock content %}


    {% block aside %}
    {% comment %} <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div> {% endcomment %}
    <div class="container no-gutters bg-asv-lightgrey p-3">
        <h4 class="font-italic">Wir sind auch bei</h4>
        <ol class="list-unstyled">
        <li>
            <a href="https://www.instagram.com/asv_aachen/">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/ASV.Aachen/">Facebook</a>
        </li>
        <li>
            <a href="https://github.com/ASV-Aachen">GitHub</a>
        </li>
    </ol>
    </div>

    <br>
    <div class="container no-gutters bg-asv-lightgrey" style ="margin-left: auto; margin-right: auto; ">
        <div style="max-width: 350px; margin-left: auto; margin-right: auto;">
            <div class="p-3">
                <a href="{% url 'sponsor' %}">
                    <img style="border-radius: 10px;margin: 5px;" src="{{ sponsor.logo.url }}">
                </a>
            </div>
            <br>
            <hr>
            <div class="p-3 " style="text-align:center;">
                            
                <a href="https://www.amazon.de/gp/product/3667111827/ref=as_li_tl?ie=UTF8&amp;camp=1638&amp;creative=6742&amp;creativeASIN=3667111827&amp;linkCode=as2&amp;tag=wwwasvaachend-21&amp;linkId=0db074b9e7cf73960a4a57625d5d6e35" target="_blank">
                <img src="https://www.asv.rwth-aachen.de/cms/modules/mod_amazon/amazon.png" width="350" height="240" border="0"></a>

                Kaufen Sie über den ASV bei
                <a href="https://www.amazon.de/gp/product/3667111827/ref=as_li_tl?ie=UTF8&amp;camp=1638&amp;creative=6742&amp;creativeASIN=3667111827&amp;linkCode=as2&amp;tag=wwwasvaachend-21&amp;linkId=0db074b9e7cf73960a4a57625d5d6e35" target="_blank">Amazon</a> ein! 

                Als Amazon-Partner verdienen wir an qualifizierten Verkäufen.
            </div>
        </div>
    </div>
    
    
{% endblock aside %}


