<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} ASV-Info - {{ seite.titel }} {% endblock %}
<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}

{% endblock styles %}

{% block headerimage%}
{% if seite.headPage.id %}
    <img src="/static/img/header/cat_s{{ seite.headPage.id }}.jpg" alt="">
{% else %}
    <img src="/static/img/header/cat_s{{ seite.id }}.jpg" alt="">
{% endif %}


{% endblock headerimage%}


{% block content %}
<article>
    <h3>{{ seite.titel }}</h3>

    {% block body %}
    <div id="inhalt">
        {{ seite.text | safe }}
    </div>
     {% endblock %}
</article>
 {% endblock %}
