{% extends "base.html" %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Neues aus dem Verein</h3>
    {% for New in News %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ New.Titel }}</h2>
            <p class="blog-post-meta">{{ New.Date }} by {{ New.Autor }}</p>
            {{ New.Text }}
        </div>
    {% endfor %}
    <!-- /.blog-post -->
    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
    </nav>

{% endblock content %}
