/*<!--/ststic/css/main.css-->*/

body {
   display: flex;
   flex-flow: row wrap;
   padding-left: 0em;
   padding-top: 0em;
   margin: 0em;
   background: white url("/static/picture/background.gif") repeat;
   font-family: Arial, sans-serif;

}
/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */

header, main, nav, article, aside, footer {
/*  flex: 1 100%;*/
}

main, footer {
   margin: 0.5em;

}
header {
/*  display: flex;
  flex-flow: row wrap;
*/
}

header * {
  /*flex: 1 1 0%;*/
}

header img {
  /*flex: 0 0 100%;*/
  width: 60%;
}

.blog-header-logo {
}
header nav {
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 1.3em 0;
  flex: 1 1 100%;
}

/* benötigt der Internetexplorer 10 und 11 um main richtig darstellen zu können*/
main {display: block;}

a {
font: arial; }
h1, h2, h1 a, h2 a {
    color:  #C25100;
}



/* Smart Phones und Tablets mit mittlerer Auflösung */
@media all and (min-width: 35em) {


}


/* Viewports mit großer Auflösung ** Desktop View */
@media all and (min-width: 768px) {
/* article wird 2.5x so breit wie die beiden asides */
  article {
  }

  aside {
  }
  #news {
    flex: 2 1 0%;
    order: 2;
    align-self: center;
    height: 120px;
  }
}


/* hier wird der Code für das Ein- und Ausblenden der Meldung generiert
* dazu kann an beliebiger Stelle ein <a id="mesaage_button" class="show" href ="#message" geestzt werden mit IdA
*
*/

#message_button:not(:target) #message.content {
    display: none;
}

#message_button:target #message.content {
    display: block;
}

#message_button:target .show {
    display: none;
}
#message:not(:target) .hide{
    display: none;
}

#message:not(:target) .content{
    display: none;
}
.content {

    background: lightgrey;
    box-shadow: inset 0em 0em 1em rgba(0,0,0,0.3);
    padding: 20px 20px 1px;
    margin: 0px 0px 10px;
}

.hide{
padding:10px;
background: rgb(254, 164, 0);
box-shadow:none!important;
color:#fff;
font-weight:bold;
}
.hide:hover {
background: rgb(255, 214, 118);
color:#fff!important;
transition:0.2s all ease-in-out!important;
}
