<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Mein ASV - Neuen Blogeintrag anlegen {% endblock %}</title>

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
    <link href="{% static 'css/Einstellungen.css' %}" rel="stylesheet">
{% endblock styles %}


{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Neuer Newsintrag</h3>

    {% if post %}
    <div class="container">
      <div class="row">
        <div class="col-8">
            <div id="InfoBox" class="alert alert-secondary">
                <div id = "id">ID: {{post.id}}</div>
                <div id = "author">Autor: {{ post.author.first_name }} {{post.author.last_name}}</div>
                <div id = "date_created">Erstellt am {{ post.date_Created | date:"d F Y"}}</div>
                <div id = "last_editor">Zuletzt bearbeitet von: {{ post.last_editor}}</div>
            </div>
        </div>

        <div class="col-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  History
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for p in hist%}
                      <a class="dropdown-item" href="?id={{post.id}}&version={{p.id}}">{{p.date| date:"d F Y"}} - {{p.editor}}</a>
                      {% endfor %}
                </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    {{ form.media }}

    <form method="POST" class="post-form" action='{{ action_url }}?id={{post.id}}' enctype='multipart/form-data'>

        {% csrf_token %}
        {{ form }}

        <button type="submit" class="save btn btn-primary">Speichern</button>
    </form>

{% endblock %}


<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}

