<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Mein ASV - Neuen Blogeintrag anlegen {% endblock %}</title>

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
    <link href="{% static 'css/Einstellungen.css' %}" rel="stylesheet">
{% endblock styles %}


{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Neuer Newsintrag</h3>
    {% if post %}
        <div id="InfoBox" class="alert alert-secondary">
            <div id = "author">Autor: {{ post.author.first_name }} {{post.author.last_name}}</div>
            <div id = "date_created">Erstellt am {{ post.date_Created | date:"F d, Y"}}</div>
            <div id = "last_editor">Zuletzt bearbeitet von: {{ post.last_editor}}</div>
        </div>
    {% endif %}

    {{ form.media }}

    <form method="POST" class="post-form" action='{{ action_url }}' enctype='multipart/form-data'>

        {% csrf_token %}
        {{ form }}

        <button type="submit" class="save btn btn-primary">Speichern</button>
    </form>

{% endblock %}


<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}

