<!--templates/bulley/includes/footer.html-->
<!doctype html>
{% load static %}
<link href="{% static 'css/bulley/footer.css' %}" rel="stylesheet">

  <footer class="container-fluid pt-1 pb-3">
      <ul id="footer-menue" class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#datasecurity">Datenschutz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#impressum">Impressum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Kontakt</a>
          </li>
      </ul>
     <div class="d-flex justify-content-center">
         <span class="small">© 2021 ASV-Aachen e.V. - V1.0 Alpha</span>
     </div>
  </footer>


