{# templates/bulley/includes/header.html #}
<!doctype html>
{% load static %}
{% load has_group %}

<link href="{% static 'css/bulley/main.css' %}" rel="stylesheet">
<link href="{% static 'css/bulley/header.css' %}" rel="stylesheet">


  <div id="header-wrapper" class="row no-gutters flex-nowrap align-items-center py-lg-3">
    <div class="asv-logo-1 col-auto mx-3 text-nowrap d-none d-lg-flex ">
      <a class="py-3 px-5" href="{% url 'ASV' %}"></a>
    </div>
    <div id="header-text"  class="col-auto ml-6 text-nowrap d-none d-lg-flex">
      <a href="{% url 'ASV' %}">Akademischer Seglerverein in Aachen e.V.</a>
    </div>
  </div> <!-- end #header-wrapper -->

  <div id="menue-wrapper" class="container-fluid flex-wrap px-0 px-0 align-items-baseline">
      <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light asvcolorblue">
      <a href="{% url 'ASV' %}" class="navbar-brand asv-logo-1 align-text-top d-lg-none"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <ul class="navbar-nav mr-auto px-2 px-lg-0">

        {% load createMenuObject %}
        {% createMenuObject as menuObject %}
        {% createMenuObject_jollen as jollen%}

        {% for gruppen in menuObject%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2" role="button"  data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="{% url 'InfoPage_Header' gruppen.Header.name %}">
              {{ gruppen.Header.titel }}</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="d-flex d-lg-none"><a class="dropdown-item" href="{% url 'InfoPage_Header' gruppen.Header.name %}">
                  {{ gruppen.Header.titel }}</a></li>
              {% for seite in gruppen.seiten %}
                <li><a class="dropdown-item" href="{% url 'InfoPage' gruppen.Header.name seite.name %}">
                  {{ seite.titel }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2" role="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="{% url 'jollenÜbersicht' %}">
              Unsere Jollen</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'jollenStatus' %}"> Status </a></li>
              {% endif %}
                <li class="d-flex d-lg-none"><a class="dropdown-item" href=href="{% url 'jollenÜbersicht' %}">
                  Jollenpark</a></li>
              {% for boot in jollen %}
                <li><a class="dropdown-item" href="{% url 'jollen_description' boot.name %}"> {{ boot.klasse }} "{{ boot.name }}" </a></li>
              {% endfor %}
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2" aria-labelledby="dropdownMenuButton" href="{% url 'sponsor' %}"> Sponsoren</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" href="Seereisenplan">Seereisenplan</a></li>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2" role="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="{% url 'MeinASV' %}">
            Mein ASV</a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li class="d-flex d-lg-none"><a class="dropdown-item" href="{% url 'MeinASV' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'Mitgliederverzeichnis' %}">Mitgliederverzeichnis</a></li>
              <li><a class="dropdown-item" href="{% url 'Kalender' %}">Kalender</a></li>
              <li><a class="dropdown-item" href="/arbeitsstunden/" target="_blank">Arbeitsstunden</a></li>
              
              {% comment %} 
              <li class="dropdown-submenu dropleft">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="/arbeitsstunden">
                Arbeitsstunden</a>
                <ul class="dropdown-menu submenu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{% url 'projekte_overview' %}"> Projekte</a></li> 
                </ul>
              </li> 
              {% endcomment %}

              <li><a class="dropdown-item" href="/wiki" target="_blank">Wiki</a></li>
              <li><a class="dropdown-item" href="/cloud/index.php/apps/sociallogin/custom_oidc/Keycloak" target="_blank">Cloud</a></li>
              {% if request.user|has_group:"Schriftwart" %}
                <li><a class="dropdown-item" href="{% url 'MemberMenu' %}"> Member Editor </a></li>
              {% endif %}
              {% if request.user|has_group:"Editor" %}
                <li class="dropdown-submenu dropleft">
                  <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="#">Editor Menüs</a>

                  <ul class="dropdown-menu submenu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'infoMenu' %}"> Menu für die Infoseiten </a></li>
                    <li><a class="dropdown-item" href="{% url 'writerView' %}"> Blog </a></li>
                  </ul>
                </li>
              {% endif %}

              {% if request.user|has_group:"Admin" %}
                <li class="dropdown-submenu dropleft">
                  <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="/admin">
                  Admin</a>
                  <ul class="dropdown-menu submenu" aria-labelledby="dropdownMenuButton">
                    <li class="d-flex d-lg-none"><a class="dropdown-item" href="/admin">Adminbereich</a></li>
                <li><a class="dropdown-item" href="{% url 'errorPage' %}"> ErrorPageTest</a></li>
                    <li><a class="dropdown-item" href="{% url 'unfertig' %}"> Admin 2</a></li>
                  </ul>
                </li>
              {% endif %}

            </ul>
          </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav px-2 px-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2" role="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="{% url 'Einstellungen' %}">
              Account</a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li class="d-flex d-lg-none"><a class="dropdown-item" href="{% url 'Einstellungen' %}">Einstellungen</a></li>
              <li><a class="dropdown-item" href="/sso/auth/realms/ASV/account/">Password ändern</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item" >
            <a class="nav-link px-2" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </div> <!-- end menue-wrapper -->