{# <!-- templates/errorpage.html--> #}



<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} ASV-Aachen - Oooops! {% endblock title %}</title>
             {# Bootstrap core CSS #}
            <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
            {# Custom styles for this template #}
            <link href="{% static 'css/bulley/main.css' %}" rel="stylesheet">
            <link href="{% static 'css/bulley/error.css' %}" rel="stylesheet">
            <link rel=" shortcut icon" type="ico" href="{% static 'img/favicon.ico' %}">


</head>

<body class="container-fluid px-0 flex-nowrap">
    <main  role="main" class="d-flex p-0 p-3">

        <div id="ErrorPage" class="container-fluid pt-2">

            <div class="mb-0 d-flex justify-content-end">
                <a class="asv-logo-2 py-3 px-5" href="{% url 'ASV' %}"></a>
            </div>
            <div id="ErrorText" class="col-md-8 ml-auto">
               <div class="mb-2 text-left">
                   <span class=" px-1 font-style-plakat">Da ist wohl etwas schief gelaufen!</span>
               </div>
               <div class="p-1">
                   <p>Das Entwicklerteam ist leider gerade beim Segeln und wird sich der Sache dann ggf. später annehmen.<br>
                       <a href="{% url 'ASV' %}">Zurück zur Homepage</a></p>
               </div>
               <div class="p-1 mt-auto">
                   <p style="color: white;">Wer meint, das wäre einen Blindflasch wert kann uns <a href="#Blindflansch">hier</a> nominieren!</p>
               </div>
            </div>
        </div>
    </main>

 <footer class="container-fluid pt-1 pb-3">
     <div class="d-flex justify-content-center">
         <span class="small">© 2021 ASV-Aachen e.V. - Alpha 1.2</span>
     </div>
  </footer>



</body>

</html>
