/* stylelint-disable selector-list-comma-newline-after */

#NewsList {
    background-color: white;
}


.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: 0;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
}

/*
 * Blog name and description
 */

.blog {

    background-color: white;
}
.blog-title {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

/* Pagination */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */


