/*  <!--/ststic/css/main.css-->*/
/*  Das Thema basiert auf Bootstrap und die nav-bar arbeitet mit den Klassen ".navbar-light .bg-light"
/*  Anpassen Farbchema der Seite */
/*
/*  Basisfarben - Bitte nur aus dieser Palette auswählen!)
    GGf. hier neue Farben definieren
*/
:root {
/*    --asvcoloryellow: #FFD648; /* --> vom Bulley abgekupfert  */
    --asvcoloryellow: #f9cf27; f9cf27/* --> FFDE24 CD ASV aus Hörsalpräsentation   */
    --asvcolorblue: #004D80;
    --asvcolorlightblue: #0068AC;
    --asvcolordarkblue: #0068AC;
    --asvcolorgrey: #898787;
    --asvcolorlightgrey: #f8f9fa;
    --asvcolorlightgreyopac: rgb(248, 249, 250, 0.8);
    --asvcolorbackgroundgrey: lightgrey;

}

/*  ASV-CD Schriftart "Prompt" - Bitte nur aus dieser Palette auswählen!)
    GGf. hier neue Schriften ergänzen
*/

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-thin.ttf');
    format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-thinitalic.ttf');
    format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-extralight.ttf');
    format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-extralightitalic.ttf');
    format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-light.ttf');
    format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-lightitalic.ttf');
    format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-regular.ttf');
    format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-italic.ttf');
    format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-medium.ttf');
    format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-mediumitalic.ttf');
    format("opentype");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-semibold.ttf');
    format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-semibolditalic.ttf');
    format("opentype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-bold.ttf');
    format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-bolditalic.ttf');
    format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-extrabold.ttf');
    format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-extrabolditalic.ttf');
    format("opentype");
    font-style: italic;
    font-weight: 800;
}


@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-black.ttf');
    format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'ASV';
    src: url('../../fonts/cd-asv/prompt-blackitalic.ttf');
    format("opentype");
    font-style: italic;
    font-weight: 900;
}

.bg-asv-yellow {
    background-color: var(--asvcoloryellow) !important;
}

.bg-asv-grey {
    background-color: var(--asvcolorgrey) !important;
}

.bg-asv-lightgrey {
    background-color: var(--asvcolorlightgrey) !important;
}


/*  Bootstrap customizen
*/

/* Basic Styles

*/
html {
   font-family: ASV;
   font-size: 1rem;
}

body {
/*   display: flex;
   flex-flow: row wrap;
   padding-left: 0rem;
   padding-top: 0rem;
   margin: 0rem;*/
   font-family: ASV, Verdana, Arial, Helvetica, sans-serif;
   font-weight: 300;
   line-height: 1.2rem;
   font-size: 1rem;

   color: black; /*var(--asvcolorgrey);*/
   background: var(--asvcolorbackgroundgrey);
   text-align: left;

}
/*
 * Frontpage
 */
#frontpage {
    background-color: var(--asvcolorbackgroundgrey); /*pink; /* nur zum Testen */

}

main {
    background: url("/static/img/ASV_background.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 0;
/*    background-color: lightgreen;*/

}

#main-wrapper {
    background-color: var(--asvcolorbackgroundgrey); /*lightgreen;*/

}
#content {
    background-color: transparent;
    /*background-color: lightgreen;*/

}
aside {
    background: var(--asvcolorbackgroundgrey);;
    /*background-color: lightblue;*/
}

footer {
    color: white;
    background: var(--asvcolorgrey);


}

h1, h2, h3 {
    font-style: italic;

    color: var(--asvcoloryellow);
}
h1 {
    font-weight: 600;
    line-height: 1.4rem;
    font-size: 2.0rem;
}

h2 {
    font-weight: 500;
    line-height: 1.2rem;
    font-size: 1.6rem;
}

h3 {
    font-weight: 400;
    line-height: 1rem;
    font-size: 1.2rem;
}

p {
    font-weight: 300;
}
}

a {
    color: var(--asvcolorblue);
}

a:hover {
    color: var(--asvcolorgrey);
    text-decoration: none;

}

img {
    width: 100%;
    height: auto;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--asvcoloryellow);
}
.bg-light {
    background-color: var(--asvcolorlightgrey) !important;
}




/*
 * Blog name and description
 */

.blog {

    background-color: white;
}
.blog-title {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

/* Pagination */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
 backgroundcolor: lightblue;
 }

.blog-post-meta {
  color: var(--asvcolorgrey);
}


/* Smart Phones und Tablets mit mittlerer Auflösung */
/*@media (min-width: 320px) {*/

/* Viewports mit kleiner   Auflösung (ipad Hochvormat)  ** Desktop View entspricht bootstrap md*/
/*@media (min-width: 576px) {*/


/* Viewports mit mittlerer  Auflösung (ipad Hochvormat)  ** Desktop View entspricht bootstrap md*/
/*@media (min-width: 768px) { */

/* Viewports mit großer Auflösung (iPad Querformat)** Desktop View entspricht bootstrap lg*/
@media (min-width: 992px) {

html {
/*   Variable Schriftart einstellen
/*              min-font-size               min-screen-size
                    |                            |
                    |                            |                      */
/*   font-size: calc(16px + (18 - 16) * (100vw - 768px) / (1600 - 768));
/*                            |                               |
                              |                               |
                 max-font-size - min-font-size       max-screen-size - min-screen-size */
    font-size: 1rem;*/

}



.content {

    background: lightgrey;
    box-shadow: inset 0rem 0rem 1rem rgba(0,0,0,0.3);
    padding: 20px 20px 1px;
    margin: 0px 0px 10px;
}

.hide{
padding:10px;
background: rgb(254, 164, 0);
box-shadow:none!important;
color:#fff;
font-weight:bold;
}

.hide:hover {
background: rgb(255, 214, 118);
color:#fff!important;
transition:0.2s all ease-in-out!important;
}

#news {
    flex: 2 1 0%;
    order: 2;
    align-self: center;
    height: 120px;
}



}
