<!--
 include um in einer Seite die 5 neuesten Blogeinträge anzeigen zu können 
Einbindung erfolgt über den include-Tag in der HTML-Seite
-->
{% load static %}
<link href="{% static 'css/bulley/blog.css' %}" rel="stylesheet">

<div id="NewsList" class="row no-gutters ">
    <div class="container-fluid px-0">
        <h2 class="p-3 border-bottom">Neues aus dem Verein</h2>
    </div>
    {% for New in News %}
        <div class="bg-white my-3 p-3">
            <h3 class="blog-post-title">{{ New.titel }}</h3>
            <small class="blog-post-meta mb-3">{{ New.date_Created | date:"F d, Y"}}  {% if user.is_authenticated %} by {{ New.author }} {% endif %}</small>
            <p class="article-content">{{ New.text | safe }}</p>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ News.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ News.number }} of {{ News.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ News.next_page_number }}">next</a>
                <a href="?page={{ News.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

