{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Arbeitsstundenausschreibung anlegen</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary">Speichern</button>
        {% if form.instance.id %}
            <a href="{% url 'ausschreibung_delete' pk=form.instance.id %}" class="btn btn-secondary">Löschen</a>
        {% endif %}
    </form>
{% endblock content %}
