<div class="card m-3">
  <div class="card-body">
    <h5 class="card-title">{{ ausschreibung.Titel }}</h5>
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>//-->
    <p class="card-text">{{ ausschreibung.Beschreibung }}</p>
  <p class="card-text">
      {% for tag in ausschreibung.Tags.all %}
        <span class="badge badge-info">{{ tag.Name }}</span>
      {% endfor %}
  </p>
      <!--<a href="#" class="card-link">Details ansehen</a>//-->
      <a href="{% url 'ausschreibung_edit' pk=ausschreibung.pk %}" class="card-link">Bearbeiten</a>
  </div>
</div>