<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% load has_group %}

{% block title %} Mein ASV - Dashboard {% endblock %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}



{% block content %}
<article class="p-3 bg-white">
  <h1>Mein ASV</h1>

  <h2>Dashboard</h2>
  <p> Hier ist die Startseite des Mitgliederbereiches. Hier könnte das Dasboard für Mitglieder entstehen</p>
    <section class="py-3 border-primary">
       <h1>Übersicht der Schriftarten</h1>

        <section class="py-2">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
        <p>&lt;p&gt;Normaler Text&lt;/p&gt;</p>
        </section>
    </section>

    <table style="height: auto; width: 500px; border-collapse: collapse; border-style: none; float: left;" cellspacing="4" cellpadding="4"><caption><span style="font-family: ASV, Verdana, Arial, Helvetica, sans-serif; font-size: 14pt;">Schrifttyp "Prompt"</span></caption>
<tbody style="font-size: 1rem; font-family: ASV, Verdana, Arial, Helvetica, sans-serif; font-weight: 500;">
<tr style="height: 20%;">
<td style="width: 20%; height: auto;">font-weight</td>
<td style="width: 29.3887%; height: auto;">name</td>
<td style="width: 50.6113%; height: auto;">&nbsp;</td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 900;">900</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 900;">black</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 900; font-style: italic;">black-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 800;">800</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 800;">extrabold</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 800; font-style: italic;">extrabold-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: bold;">700</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: bold;">semi-bold</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: bold; font-style: italic;">semi-bold-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 600;">600</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 600;">bold</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 600; font-style: italic;">bold-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 500;">500</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 500;">medium</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 500; font-style: italic;">medium-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 400;">400</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 400;">regular</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 400; font-style: italic;">regular-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 300;">300</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 300;">light</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 300; font-style: italic;">light-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 200;">200</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 200;">extra-light</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 200; font-style: italic;">extra-light-italic</span></td>
</tr>
<tr style="height: auto;">
<td style="width: 20%; height: auto;"><span style="font-weight: 100;">100</span></td>
<td style="width: 29.3887%; height: auto;"><span style="font-weight: 100;">thin</span></td>
<td style="width: 50.6113%; height: auto;"><span style="font-weight: 100; font-style: italic;">thin-italic</span></td>
</tr>
</tbody>
</table>
</article>

 {% endblock %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
 {% block aside %}
    <div id = "Funktionen">
        <div class="card">
          <div class="card-header">
            Deine Apps
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'arbeitsstunden_home' %}"> Arbeitsstunden </a>
            </li>
            <li class="list-group-item">
                To be continued...
            </li>
          </ul>
        </div>
    </div>
    <br>
    <div id = "AdminFunktionen">
            <div class="card">
              <div class="card-header">
                Einstellungen
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="dropdown-item" href="{% url 'Einstellungen' %}"> Einstellungen </a>
                </li>
                {% if request.user|has_group:"Editor" %}
                    <li class="list-group-item">
                        <a class="dropdown-item" href="{% url 'writerView' %}"> News Editor </a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"Schriftwart" %}
                    <li class="list-group-item">
                        <a class="dropdown-item" href="{% url 'MemberMenu' %}"> Member Editor </a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"Entwickler" %}
                    <li class="list-group-item">
                        <a class="dropdown-item" href="{% url 'autoPopulate' %}"> Auto Poulate Page </a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"Editor" %}
                    <li class="list-group-item">
                        <a class="dropdown-item" href="{% url 'infoMenu' %}"> InfoPages Menu </a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </div>
 {% endblock %}



<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
