<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} Mein ASV - Dashboard {% endblock %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}



{% block content %}
  <h1>Mein ASV</h1>
  <h2>Dashboard</h2>
  <p> Hier ist die Startseite des Mitgliederbereiches. Hier könnte das Dasboard für Mitglieder entstehen</p>  
 {% endblock %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
 {% block aside %}
    <div id = "Funktionen">
        <div class="card">
          <div class="card-header">
            Funktionen
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'arbeitsstunden_home' %}"> Arbeitsstunden Dashboard </a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'Einstellungen' %}"> Einstellungen </a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'writerView' %}"> Writer Editor </a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'autoPopulate' %}"> Auto Poulate Page </a>
            </li>
            <li class="list-group-item">
                To be continued...
            </li>
          </ul>
        </div>
    </div>
 {% endblock %}



<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
