<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %} Mein ASV - Mitgliederverzeichnis {% endblock %}</title>

{% load static %}

{% block content %}
  <link href="{% static 'CSS/Mitgliederverzeichnis.css' %}" rel="stylesheet">
  <h1>Mein ASV</h1>
  <h2>Mitgliederverzeichnis</h2>
  
  <div id="Verzeichnis">
        {% for Profil in Personen%}
        <div id="Nutzer">
            {% if Profil.profile_image%}
                <img src="{{Profil.profile_image.url}}">
            {% else %}
                <img src="{% static 'Bilder/standard_profile_picture.png' %}" >
            {% endif %}
            <div id="Name"> {{Profil.user.first_name}} {{Profil.user.last_name}} </div>
            <div id="Status"> {{Profil.get_Status_display}} </div>
            <br>
            <div id="Gruppen"> Gruppen </div>
        </div>
        {% endfor%}
  </div>
    
 {% endblock %}
