<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %} Mein ASV - Mitgliederverzeichnis {% endblock %}</title>


{% block content %}
  <h1>Mein ASV</h1>
  <h2>Mitgliederverzeichnis</h2>
  
  <div id="Verzeichnis">
        {% for Profil in Personen%}
            <img src="{{Profil.profile_image.url}}">         
            <div id="Name"> {{Profil.user.first_name}} {{Profil.user.last_name}} </div>
            <div id="Status"> {{Profil.get_Status_display}} </div>
            <br>
            <div id="Gruppen">  </div>
        {% endfor%}
  </div>
    
 {% endblock %}
