<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} Mein ASV - Einstellungen {% endblock title%}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
    <link href="{% static 'css/Einstellungen.css' %}" rel="stylesheet">
{% endblock styles %}



{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">Upload CSV Datei</h3>
    <p>Hier können Sie einen neuen Nutzer anlegen.</p>

    <form method="POST" class="post-form" action='{{ action_url }}' enctype='multipart/form-data'>

        {% csrf_token %}
        {{form}}
        <button type="submit" class="save btn btn-primary">Speichern</button>
    </form>

{% endblock %}


