<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %} ASV-Aachen - {{ Jollen.klasse }} "{{ Jollen.name }}" {% endblock title %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
    <h1>{{ Jollen.klasse }} "{{ Jollen.name }}"</h1>

    {{ form.media }}

    <form method="POST" class="post-form" action='{{ action_url }}' enctype='multipart/form-data'>

        {% csrf_token %}
        {{form}}
        <button type="submit" class="save btn btn-primary">Speichern</button>
    </form>
 {% endblock contend %}

<!-- Hier seitenbereich gestalten falls gewünscht -->
{% block aside %}
   Hallo hier ist der Seitenbereich
{% endblock aside %}



<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
