<!--/templates/custom.html-->
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load has_group %}

{% block title %} ASV-Aachen - Jollen Status {% endblock title %}

<!-- Hier können app-spezifische  Styles dazugeladen werden-->
{% block styles %}
{% endblock styles %}
{% block headerimage%}
    <img src="/static/img/header/cat_s0.jpg" alt="">
{% endblock headerimage%}

{% block content %}
    <h1> Jollen Status </h1>
    <div class="panel-group">
        {% for boot in Jollen %}
          <div class="d-flex" style="flex-direction: column; display: flex;flex-wrap: wrap;justify-content: space-around;gap: 12px;">
            <div style="border-style: solid;box-shadow: 2px 0px 5px; padding:8px">
              <div class="row">
                <div class="col-8">
                  <h5 class="fw-bold">
                    {{ boot.klasse }} {{ boot.name }}
                    <small class="text-muted">Letztes Update vom: {{ boot.message.date | date:"F d, Y"}}</small>
                  </h5>
                </div>
                <div class="col-4">
                  <div>Obmann: {{ boot.obman }}</div>
                  {% if boot.isboat %} 
                    <div style="{% if boot.message.get_status_display is "nicht segelbar" %}color: #BB0001;{% endif %}">Status: {{ boot.message.get_status_display }}</div> 
                  {% endif %}
                  <div>Standort: {{ boot.message.get_standort_display }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <p>
                    {{ boot.message.text }}
                    <small class="text-muted"> {{ boot.message.autor.first_name }} {{ boot.message.autor.last_name }}</small>
                  </p>
                </div>
                <div class="col-4">
                  <div> <a href="{% url 'jollen_settings_status' boot.name %}">Status Bearbeiten</a> </div>
                  {% if request.user|has_group:"Editor" %}
                    <div> <a href="{% url 'jollen_settings_description' boot.name %}">Boot Bearbeiten</a> </div>
                  {% endif %}
                 
                </div>
              </div>
          </div>
        {% endfor %}
      <h3>Beschreibung des Feldes 'Status':</h3>
        <ul><li>'segelbar' bedeutet, das Boot liegt am Rursee und ist ohne wesentliche Einschränkungen benutzbar
        </li><li>'eingeschränkt segelbar' bedeutet, dass das Boot zwar benutzbar ist, aber dass dabei auf irgendetwas besonders geachtet werden muss, zum Beispiel bei kleineren Schäden. Details sollten im Kommentar stehen. Im Zweifelsfall ist mit dem Obmann Rücksprache zu nehmen.
        </li><li>'nicht segelbar' bedeutet, dass das Boot aus irgendeinem Grund zur Zeit nicht benutzt werden darf.
        </li></ul>
      
 {% endblock content %}

<!-- Hier können app-spezifische  Skripte dazugeladen werden-->
{% block scripts %}
{% endblock scripts %}
